/* Universal Styles */

body {
    margin: 0%;
    max-width: 100%;
    color: #023047;
}
main .content {
    font-family: Arimo, sans-serif;
    position: relative;
    top: 115px;
    width: auto;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 35px;
    padding: 0px;
    border: 2px solid #023047;
}
.content .title {
    font-family: Oswald, sans-serif;
    width: 100%;
    margin: 0px;
    color: white;
    text-align: center;
    background-color: #023047;
}

/* Header */

header {
    max-width: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin: 0;
    padding: 0;
    font-family: Oswald, sans-serif;
    background-color: #8EC8E6;
    border-bottom: 1px solid  #023047;
}
header .content {
    display: flex;
    padding: 0px 10px;
    font-size: 20px;
    color:  #023047;
}
header .content .project-title {
    justify-content: flex-start;
    font-weight: 600;
}
header .content .page-description {
    margin-left: auto;
    font-weight: 400;
}

@media only screen and (max-width: 1760px) {
    header .content .page-description {
        display: none;
    }
}

/* Colors */

.colors-row-1 {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    clear: right;
}
/* .colors-row-2 {
    display: flex;
    justify-content: center;
    width: 100%;
    clear: left;
} */
.color-box {
    display: inline-flex;
    flex-wrap: wrap;
    height: 150px;
    width: 30%;
    min-width: 150px;
    border: 2px solid #023047;
    margin: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.color-box-1 {
    background-color: #8ECAE6;
}
.color-box-2 {
    background-color: #219EBC;
}
.color-box-3 {
    background-color: #023047;
}
.color-box-4 {
    background-color: #FFB703;
}
.color-box-5 {
    background-color: #FB8500;
}
.color-box .color-name{
    color: white;
    font-size: 1.75rem;
}
.color-box ul {
    margin-top: 0px;
    color: white;
    list-style: square;
    text-align: left;
}

@media only screen and (max-width: 760px) {
    main .content {
        width: 100%;
        margin: 0 auto;
    }
    .color-box .color-name {
        font-size: .9rem;
    }
    .color-box {
        /* border: 1px solid limegreen; */
        font-size: .66rem;
    }
}

/* Fonts */

.fonts-row-1 {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}
.font-box {
    display: flexbox;
    flex-wrap: wrap;
    width: 40%;
    font-size: 1.25rem;
    border: 2px solid #023047;
    margin: 20px auto;
    padding: 20px 50px;
}
/* .font-box ul {
    list-style-type: "-  ";
    line-height: 1.7;
} */
.font-box p {
    line-height: 10px;
}
.font-box .font-name {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.6;
}
.font-box .font {
    font-size: 1.5rem;
    text-indent: 6.5rem;
    line-height: 1.15;
}
.font-reg {
    font-weight: 400;
    width: max-content;
}
.font-bold {
    font-weight: 700;
}
.font-ital {
    font-style: italic;
}
.font-box-1{
    font-family: Oswald;
}
.font-box-2{
    font-family: Arimo;
}
.font-box-3{
    font-family: Cabin;
}
.font-box-4{
    font-family: "Josefin Slab";
}

@media only screen and (max-width: 1080px) {
    .font-box {
        font-size: 1rem;
        border: none;
        width: fit-content;
        padding: 15px;
    }
    .font-box .font {
        font-size: 1rem;
        text-indent: 0rem;
    }
}

/* Type Styles */