/* Universal Styles */

* {
    box-sizing: border-box;
}
a {
    color: #525ca1;
    text-decoration: none;
}
a:visited {
    color: #525ca1;
}
a:hover {
    color: #ffdc5b;
}
body {
    margin: 0%;
    max-width: 100%;
    font-size: 1rem;
    color: #023047;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 22px;
}
main .content {
    font-family: Arimo, sans-serif;
    position: relative;
    top: 115px;
    width: auto;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 35px;
    padding: 0px;
    border: 2px solid #023047;
    border-radius: 20px;
}
.content .title {
    font-family: Oswald, sans-serif;
    font-size: 2rem;
    width: 100%;
    margin: 0px;
    color: white;
    text-align: center;
    background-color: #023047;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* Header */

header {
    max-width: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin: 0;
    padding: 0;
    font-family: Oswald, sans-serif;
    background-color: #8EC8E6;
    border-bottom: 2px solid  #023047;
}
#nav a {
    color: #023047;
}
#nav a:hover {
    color: #ffdc5b;
}
header ul li {
    display: inline-block;
    position: relative;
    left: 100%;
    text-align: center;
    border: 2px solid #8EC8E6;
    width: 100px;
    height: auto;
    padding: 5px;
}
header ul li:hover {
    border: 2px solid #525ca1;
    border-radius: 8px;
}
header .content {
    display: flex;
    padding: 0px 10px;
    font-size: 20px;
    color:  #023047;
}
header .project-title {
    justify-content: flex-start;
    font-size: 1.5rem;
    font-weight: 600;
}
header .page-description {
    margin-left: auto;
    font-size: 1.5rem;
    font-weight: 400;
}

@media only screen and (max-width: 1300px) {
    #nav {
        display: none;
    }
}

@media only screen and (max-width: 760px) {
    header .content .page-description {
        display: none;
    }
}

/* Colors */

.colors-row-1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}
.color-box {
    display: block;
    flex-wrap: wrap;
    height: 150px;
    width: 30%;
    border: 2px solid #023047;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.color-box-1 {
    background-color: #8ECAE6;
}
.color-box-2 {
    background-color: #219EBC;
}
.color-box-3 {
    background-color: #023047;
}
.color-box-4 {
    background-color: #525ca1;
}
.color-box-5 {
    background-color: #ffdc5b;
}
.color-box .color-name{
    color: white;
    font-size: 1.75rem;
    line-height: 0.9rem;
}
.color-box ul li {
    list-style-type: none;
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 10%;
    color: white;
    text-align: left;
}
.hex {
    font-size: .7rem;
    line-height: 10px;
}

@media only screen and (max-width: 1080px) {
    .color-box .color-name {
        font-size: 1.25rem;
    }
    .color-box {
        display: block;
        height: 120px;
        width: 300px;
        font-size: .9rem;
        padding: 3px;
        margin: 10px;
        overflow: hidden;
    }
    .hex {
        font-size: .7rem;
        line-height: 10px;
    }
}

@media only screen and (max-width: 760px) {
    .color-box .color-name {
        font-size: 1.25rem;
    }
    .color-box {
        display: block;
        height: 120px;
        width: 300px;
        font-size: .9rem;
        padding: 3px;
        margin: 10px;
        overflow: hidden;
    }
    .color-box ul li {
        padding-left: 0%;
    }
}

/* Fonts */

.fonts-row-1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}
.font-box {
    display: block;
    flex-wrap: wrap;
    width: 40%;
    font-size: 1.25rem;
    border: 2px solid #023047;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px 50px;
}
.font-box p {
    line-height: 10px;
}
.font-box .font-name {
    text-align: center;
    text-decoration: underline;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.6;
}
.font-box .font {
    font-size: 1.5rem;
    line-height: 1.15;
}
.font-reg {
    font-weight: 400;
}
.font-bold {
    font-weight: 700;
}
.font-ital {
    font-style: italic;
}
.font-box-1{
    font-family: Arimo;
}
.font-box-2{
    font-family: Oswald;
}
.font-box-3{
    font-family: Cabin;
}
.font-box-4{
    font-family: "Josefin Slab";
}

@media only screen and (max-width: 1080px) {
    .font-box {
        font-size: 1rem;
        border-top: none;
        border-bottom: 2px solid #023047;
        border-left: none;
        border-right: none;
        border-radius: 0px;
        width: 70%;
        margin: 0;
    }
    .font-box .font {
        font-size: 1rem;
        text-indent: 0rem;
    }
    .last-box {
        border-bottom: none;
    }    
}

/* Text Styles */

.styles-row-1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}
.styles-row-1 h2 {
    text-indent: 1rem;
}
.styles-row-1 h3 {
    text-indent: 2rem;
}
.styles-row-1 p {
    margin-left: 3rem;
}
.styles-box-left {
    display: block;
    flex-wrap: wrap;
    width: 45%;
    font-size: 1.25rem;
    border: 2px solid #023047;
    border-right: 1px solid #023047;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 20px auto;
    margin-right: 0;
    padding: 20px 35px;
}
.styles-box-right {
    display: block;
    flex-wrap: wrap;
    width: 45%;
    font-size: 1.25rem;
    border: 2px solid #023047;
    border-left: 1px solid #023047;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 20px auto;
    margin-left: 0;
    padding: 20px 35px;
}
.styles-box-1 {
    font-family: Arimo;
}
.styles-box-2 {
    font-family: Oswald;
}
.styles-box-3 {
    font-family: Cabin;
}
.styles-box-4 {
    font-family: "Josefin Slab";
}

@media only screen and (max-width: 760px) {
    .styles-box-left {
        width: 48%;
        font-size: 1rem;
        padding: 6px auto;
    }
    .styles-box-right {
        width: 48%;
        font-size: 1rem;
        padding: 6px auto;
    }
    .styles-row-1 h2 {
        text-indent: 0.3rem;
    }
    .styles-row-1 h3 {
        padding: 3px;
        text-indent: 0.6rem;
    }
    .styles-row-1 p {
        padding: 3px;
        margin-left: 0.9rem;
    }
}

/* Footer */

footer {
    max-width: 100%;
    width: 100%;
    position: relative;
    bottom: 0px;
    top: 115px;
    z-index: 99;
    margin: 0;
    padding: 20px;
    font-family: Oswald, sans-serif;
    background-color: #8EC8E6;
    border-top: 2px solid #023047;
}
.footer-content {
    display: flex;
    padding: 0px 10px;
    /* font-size: 20px; */
    color:  #023047;
}
.copyright {
    justify-content: flex-start;
}
.location {
    margin-left: auto;
}

@media only screen and (max-width: 760px) {
    footer .location {
        color: limegreen;
        display: none;
    }
}
